{% extends 'base.html.twig' %}

{% block title %}New Desire
{% endblock %}

{% block body %}
	<h1>Create new Desire</h1>

	{{ include('desire/_form.html.twig') }}

	<a href="{{ path('app_desire_index') }}">back to list</a>
{% endblock %}
